[run]
include = 
	mentorship/*
	mentorship_profile/*
	mentorship_pairing/*
	mentorship_api/*

[report]
omit = 
	*/migrations/*
	*/wsgi.py
	*/settings.py
	*/__init__.py
	*/tests.py
	*/tests/*
	*/apps.py