[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

pytest = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
"pytest-pep8" = "*"
coveralls = "*"
factory-boy = "*"


[packages]

django = "<2.0,>1.11"


[requires]

python_version = "3.6"
