{% extends 'mentorship/base.html' %}

{% block body %}
<div class="container">
  <h2>General Code of Conduct</h2>
  <p>This Code of conduct has been adapted from the
    <a href="https://www.pspython.com/pages/code-of-conduct/"> PuPPy Code of Conduct
    </a> as well as the
    <a href="https://github.com/python/pycon-code-of-conduct/blob/master/code_of_conduct.md"> PyCon Code of Conduct</a>
  </p>

  <p>PuPPy US is a community local user group intended for networking
    and collaboration in the developer community.  The PuPPy
    Mentorship Application was designed to enable development of
    further connections and relationships between PuPPy community
    members.  As such, users of this application agree to abide by
    the PuPPy community code of conduct.</p>

  <p>We value the participation of each member of the Python community
    and want all users of the PuPPy Mentorship App to have an
    enjoyable and fulfilling experience. Accordingly, all users are
    expected to show respect and courtesy to other users across the
    application, and at all local user group events, whether
    officially sponsored by PuPPy or not.</p>

  <p>To make clear what is expected, all users, collaborators, and
    volunteers for this platform are required to conform to the
    following Code of Conduct. Maintainers will enforce this code
    throughout use of this platform.</p>

  <h3>Our Standards</h3>
  <p>PuPPy is dedicated to providing a positive experience
    for everyone, regardless of age, gender identity and expression,
    sexual orientation, disability, physical appearance, body size,
    ethnicity, nationality, race, or religion (or lack thereof),
    education, or socio-economic status.</p>

  <p>Examples of behavior that contributes to creating a positive
    environment include:</p>
  <ul>
    <li>Being kind to others</li>
    <li>Behaving professionally</li>
    <li>Using welcoming and inclusive language</li>
    <li>Being respectful of differing viewpoints and experiences</li>
    <li>Gracefully accepting constructive criticism</li>
    <li>Focusing on what is best for the community</li>
    <li>Showing empathy towards other community members</li>
  </ul>
  <p>Examples of unacceptable behavior by participants include:</p>
  <ul>
    <li>Harassment of other users in any form</li>
    <li>Deliberate intimidation, stalking, or following</li>
    <li>Violent threats or language directed against another person</li>
    <li>Sexual language and imagery shared in communications with other users
    </li>
    <li>Insults or put downs</li>
    <li>Sexist, racist, xenophobic, homophobic, transphobic, ableist, or
      exclusionary jokes</li>
    <li>Excessive swearing</li>
    <li>Unwelcome sexual attention or advances</li>
    <li>Unwelcome physical contact</li>
    <li>Other conduct that is inappropriate for a professional community group
      including people of many different backgrounds</li>
    </ul>
    <p>If a user engages in behavior that violates this code of conduct, the
      PuPPy Mentorship App maintainers may take any action they deem
      appropriate, including warning the offender or expulsion from the
      application.</p>
    <h3>Mentor Commitment Guidelines</h3>
    <p>(Need content here)</p>
    <h3>Mentee Commitment Guidelines</h3>
    <p>(Need content here)</p>
</div>


{% endblock %}