/* label{
  font-family:"Verdana",Geneva,sans-serif;
  color:#1729CB;
}

h1{
  font-family:"Comic Sans MS",cursive,sans-serif;
  color:#113AB0;
}

input{
  font-family:"Verdana",Geneva,sans-serif;
  height:25px;
  border-radius:3px;
  width: 100%;

  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}
input:focus{
  background-color:lightblue;
}
section{
  font-size:;
}

#pinfo{
  border-radius: 5px;
  background-color:#f2f2f2;
  padding:20px;
  border-width: 1px;
  width: 45%;
  float:left;
  color:black;
}

#xinfo{
  display:inline-block;
  border-radius: 5px;
  border-padding:20px;
  background-color:#f2f2f2;
  padding:20px;
  border-width: 1px;
  width: 45%;

  color:black;
}
#interests{
  padding:10px;
  display:block;
  border-radius: 5px;
  border-padding:20px;
  background-color:#f2f2f2;
  padding:20px;
  border-width: 1px;
  width: 45%;
  color:black;
}
#bio{
  padding: 10px 10px 100px 5px;
  word-wrap: break-word;


}
#submitButton{
  background-color:red;
  width: 50%;
}

#num{
 width:40px;
} */

/* body { font-family: "RobotoRegular",Helvetica,Arial,sans-serif; font-size: 14px; margin: 0; }
my-app { display: block; width: 100%; min-height: 80px; box-sizing: border-box; padding: 30px; }
my-app > .k-icon.k-i-loading { font-size: 64px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } */
.k-icon.k-i-loading {
			font-size: 64px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
.example-wrapper { min-height: 280px; align-content: flex-start; }
.example-wrapper p, .example-col p { margin: 0 0 10px; }
.example-wrapper p:first-child, .example-col p:first-child { margin-top: 0; }
.example-col { display: inline-block; vertical-align: top; padding-right: 20px; padding-bottom: 20px; }
.example-config { margin: 0 0 20px; padding: 20px; background-color: rgba(0,0,0,.03); border: 1px solid rgba(0,0,0,.08); }
.event-log { margin: 0; padding: 0; max-height: 100px; overflow-y: auto; list-style-type: none; border: 1px solid rgba(0,0,0,.08); background-color: #fff; }
.event-log li {margin: 0; padding: .3em; line-height: 1.2em; border-bottom: 1px solid rgba(0,0,0,.08); }
.event-log li:last-child { margin-bottom: -1px;}
